@font-face {
    font-family: Montserrat;
    src: url(assets/montserrat/static/Montserrat-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Montserrat;
    src: url(assets/montserrat/static/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Montserrat;
    src: url(assets/montserrat/static/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Montserrat;
    src: url(assets/montserrat/static/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Montserrat;
    src: url(assets/montserrat/static/Montserrat-Bold.ttf);
    font-weight: bold;
}
*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    color: #424242;
}

body{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

/* Header start */
.app__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.app_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.app_logo .app__title{
    margin-right: 1rem;
}
.app__title2{
    display: none;
}
.menu__collapse{
    display: none;
}
.app__links{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.app__links li{
    margin-right: 1.5rem;
    font-size: 14px;
    font-weight: 500;
}
.app__links li.active{
    color: #5A47AB;
    font-weight: 600;
}

/* showcase start */

.app__showcase{
    display: flex;
    margin: 5rem 0;
}
.app__showcase-info{
    flex: 6;
    padding: 0 3rem;
}
.app__showcase-info h1, h3{
    font-size: 52px;
    margin: 0;
}
.app__showcase-info h1{
    color: #d05270;
    font-weight: bold;
}
.app__showcase-info h3{
    font-weight: 500;
}
.app__showcase-info p{
    font-size: 18px;
    font-weight: 400;
}
.app__showcase-image{
    flex: 4;
    padding: 0 3rem;
}

.app__links{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    align-items: center;
}
.app__links .app__link{
    width: 30%;
    height: 60px;
}
.app__links .app__link.twitter{
    background-color: #47ACDF;
}
.app__links .app__link.linkedin{
    background-color: #1275f1;
}
.app__links .app__link.medium{
    background-color: #000;
}

/* Blog start */
.app__blog-categories{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.app__blog-categories .item{
    font-weight: 500;
    font-size: 18px;
    margin-right: 1.5rem;
    cursor: pointer;
}
.app__blog-categories .item.active{
    color: #d05270;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px  solid   #d05270;
    padding: 0 1rem;
}

.app__post-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.app__post-list .app__post-card{
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    padding: 0 2rem;
    margin: 3rem 0;
}
.app__post-list .app__post-card .post-image{
    height: 400px;
    width: 100%;
}

.app__post-list .app__post-card .post-date{
    font-size: 14px;
    font-weight: 600;
    margin: .5rem 0;
}

.app__post-list .app__post-card .post-title{
    color: #d05270;
    font-size: 24px;
    font-weight: 600;
    margin: .5rem 0;
}

.app__post-list .app__post-card .post-info{
    font-weight: 400;
    margin: .5rem 0;
}

.app__post-list .app__post-card .post-link{
    font-size: 18px;
    font-weight: 500;
    color: #d05270;
    text-decoration: none;
    border-bottom: 1px solid #d05270;
    padding-bottom: 5px;
    width: fit-content;
    margin-top: .5rem ;
}

.app-links-open{
    display: none;
}

/* footer */

.footer{
    position: flex;
    align-items: center;
    margin: 5rem 0;
}
.footer img{
   margin: 0 35%;
}

@media only screen and (max-width: 850px){
    body{
        width: 90%;
        margin: auto;
}
.app-links-open{
    display: block;
}
    .app__links-container .app__links{
        display: none;
    }
    .app-links-open:hover .app__links-container .app__links{
        display: flex;
    }
}